#connexion{
    position: relative;
    width: 290px;
    height: 170px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    
}

.en-teteDivCo{
    position: absolute;
}

.connexion{
    width: 100px;
    display: block; 
    float: left;
    
}

#label-co{
    margin-top: 30px;
}